:root {
  --color-primary: #0033fd;
  --color-background: white;
  --color-text: #333;
  --color-text-1: #4c4f71;
  --color-text-2: #666a8e;
  --el-font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'!important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  //user-select: none;

}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none; /* 适用于 Chrome、Safari 和 Opera */
  }
}

svg,
img {
  display: block;
}

em {
  font-style: normal;
}

#app {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: SourceHanSansSC-regular, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1350px;
  overflow-y: hidden;
  overflow-x: auto;
}
