@import "base";
@import "call";

.search {
  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

section {
  .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .item {
    width: 100%;
    display: flex;
    line-height: 24px;
  }
  .label {
    width: 100px;
    color: #999999;
    flex-shrink: 0;
    position: relative;
    &.required:before {
      content: '*';
      color: red;
      position: absolute;
      left: -0.6em;
    }
  }
  .content {
    color: #333333;
    flex: 1;
    padding-right: 12px;
    overflow: hidden;
  }
}
.ant-select-clear {
  .anticon {
    display: block;
  }
}

.el-table {
  --el-table-header-text-color: rgba(0, 0, 0, 0.88)!important;
  --el-table-text-color: rgba(0, 0, 0, 0.88)!important;
  --el-table-header-bg-color: #fafafa!important;
  thead {
    th {
      .cell {
        font-weight: 600;
      }
    }
  }
  * {
    font-family: var(--el-font-family)!important;
  }
}


input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

