@import url("./reset.css");
@import url("./vant.theme.css");
@import url("./scrollbar.css");
@import url("./text.css");

html,
body,
#app {
	height: 100vh;
	width: 100vw;
	background-color: #f7f7f7;
}

#app {
	@apply pt-safe pb-safe;
	box-sizing: border-box;
	overflow: hidden;
}
